.info-section {
  padding: 40px 0;
}

.info-block {
  margin-bottom: 30px;
}
/* Add any specific styling overrides or additional styles here */

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  color: #ffffff; /* Switched to a softer color for better readability */
  background-color: #343a40; 
}


section {
  scroll-margin-top: 45px; /* Height of the navbar */
  padding: 60px 0;
  animation: fadeInUp 2s ease-out forwards;
}

section h2 {
  color: #ececec; /* Retain the chosen color */
  margin-bottom: 40px;
  font-weight: 700; /* Make the headings bolder for emphasis */
  letter-spacing: 1.5px; /* Increase letter spacing for a modern touch */
  font-size: 1.75rem; /* Slightly larger font size for prominence */
  border-bottom: 2px solid #bebebe; /* Add a bottom border for definition */
  display: inline-block; /* Required for the border to fit the text width */
  padding-bottom: 5px; /* Padding to space out the text from the border */
}


.card {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  background: linear-gradient(to bottom right, #373d43, #444e5a);
  transition: box-shadow 0.3s ease-in-out, background ease-in-out;
}

.card:hover {
  box-shadow: 0 12px 30px rgba(0,0,0,0.5);
  background: linear-gradient(to bottom right, #444e5a, #373d43);
}


.card-body {
  padding: 20px;
  text-align: left;
  color :#1b1b1b;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #FFFFFF;
}

.card-text {
  font-size: 1rem;
  color: #FFFFFF;
}

footer {
  background-color: #343a40;
  color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}

/* Add responsive design adjustments if necessary */

.card-logo {
  height: 60px;
  width: auto;
  margin-right: 10px;
}

.card-title {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  margin-bottom: 10px; /* Space between title and subtitle */
}

.card-title > div {
  display: flex;
  flex-direction: column;
}

.card-subtitle {
  font-size: 1rem;
  color: #c8d3dc;
}

.card-text {
  font-size: 1rem;
}

.project-thumbnail {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 5px; /* Optional: for rounded corners */
}

.skill-badges .badge {
  display: inline-block;
  background-color: #4b6b8b; /* Bootstrap primary color */
  color: #FFFFFF;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: 0.8em;
  text-transform: uppercase; /* Optional: for uppercase styling */
}


.card-text {
  font-size: 1rem;
  line-height: 1.5;
}

.card-text strong {
  color: #ffffff; /* Blue color for section titles */
}


.skill-card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease-in-out;
  text-align: center;
}

.skill-card:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.skill-logo {
  max-width: 60px; /* Adjust size as needed */
  height: auto;
  margin: 10px auto; /* Center logo in the card */
  display: block;
}

.hobby-gif {
  width: 100%;
  height: auto;
  border-radius: 5px; /* Optional: for rounded corners */
}

.social-icons {
  margin: 10px 0;
}

.social-icon {
  color: white;
  margin: 0 10px;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #4b6b8b; /* Or any color you prefer */
}

.footer h5 {
  color: #fff;
  margin-bottom: 15px;
}


#intro {
  padding: 60px 0; /* Spacious layout */
  margin-top: 100px; /* Adjust this value based on the navbar's height */
}

.display-4 {
  color: #ffffff; /* Vibrant color for the name */
  margin-bottom: 20px; /* Spacing */
}

.lead {
  font-size: 1.2rem; /* Emphasized font size */
  margin-bottom: 30px; /* Spacing */
}

.typing-effect {
  font-size: 1.2rem; /* Match the lead font size */
  font-weight: bold;
  color: #ffffff; /* Subtle color for typing effect */
  display: inline; /* Inline with the preceding text */
  white-space: nowrap; 
  border-right: 2px solid; 
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  50% {
      border-color: transparent;
  }
}

.display-4 {
  font-family: 'Nunito', sans-serif;
  font-size: 2.8rem;
  font-weight: 700; 
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px; 
  transition: color 0.3s ease, transform 0.2s ease; 
}

.display-4:hover {
  color: #000000; 
  transform: translateY(-5px); 
}

.about-image {
  border: 3px solid #3c3c3c; 
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.navbar {
  position: fixed; /* Keep navbar fixed at the top */
  top: 10px; /* Adjust as needed */
  left: 50%; /* Center the navbar */
  transform: translateX(-50%); /* Adjust horizontal position */
  z-index: 1000; /* Ensure navbar is above other elements */

  border-radius: 30px; /* Pill-like rounded corners */
  background-color: #101010; /* Background color of the navbar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: adds shadow for depth */

  width: 80%; /* Increase the width */
  max-width: 960px; /* Maximum width - adjust as needed */
  padding: 10px 20px; /* Spacing inside the navbar */
}

/* Adjust the container within the navbar if needed */
.navbar .container {
  width: 100%; /* Full width of the navbar */
}

/* Ensure the navigation links are properly aligned */
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stylistic adjustments for navigation items and links */
.nav-item {
  margin: 0 5px; /* Spacing between nav items */
}

.nav-link {
  padding: 8px 15px; /* Padding for nav links */
  border-radius: 15px; /* Rounded corners for nav links */
  /* Optional: add hover effects */
}

.navbar-brand:hover {
  color: #4b6b8b !important; /* Slightly lighter color on hover */
}

.navbar-brand {
  transition: opacity 0.3s ease-in-out;


}


.navbar-nav .nav-link:hover {
  color: #ffffff !important;
}

/* Navbar Toggler */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Responsive Navbar Collapse */
@media (max-width: 991px) {
  .navbar-collapse {
      background-color: #343a40;
      padding: 1rem;
  }

  .navbar-nav .nav-item {
      margin-bottom: 0.7rem;
  }
}